<nav id="nav-two">
    <div id="logo"><a ui-sref="home">Logo</a></div>
    <div id="links">
      <ul>
        <li><a ui-sref="shop">Shop</a></li>
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="news-events">News &amp Events</a></li>
        <li><a ui-sref="charity-water">Charity Water</a></li>
        <li><button id="contact-box" ui-sref="contact-us">Contact Us</button></li>
      </ul>
    </div>
</nav>


<div id="about">
  <h4>Mission Statement</h4>
  <p>Mars Bags aims to provide outdoor enthusiasts a convenient solution to protect their valuables while experiencing life’s adventures to the fullest.</p>
  <hr/>
  <h4>About Us</h4>
  <p>
    So what are we all about? My buddy and I wanted to start a company that we could help two types of people: those that play hard, and those that have a hard life. With these two goals in mind, we came up with Mars Bags. You know how people nowadays don't go anywhere without their phones, wallets, chapstick, etc.? What our company does is provide a way to protect all of your valuable items while you are out having fun. We sell waterproof bags that are lightweight and fully waterproof that will provide protection to all your valuables on whatever adventure you are involved in.<br/>
    <br/>
    To fulfill the second part of our purpose we have paired with the awesome non-profit organization Charity:Water who specializes in bringing clean and safe drinking water to people in developing nations. To support them in their mission we will donate 10% of all proceeds made on this site to their organization. What makes Charity:Water great is they operate on the 100% model, which means every single penny that is donated goes to help those in need.<br/>
    <br/>
    Co-Founder <br/>
    <br/>
    Shane W.
  </p>
</div>
