<nav id="nav-one">
    <div id="logo"><a ui-sref="home">Logo</a></div>
    <div id="links">
      <ul>
        <li><a ui-sref="shop">Shop</a></li>
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="news-events">News &amp Events</a></li>
        <li><a ui-sref="charity-water">Charity Water</a></li>
        <li><button id="contact-box" ui-sref="contact-us">Contact Us</button></li>
      </ul>
    </div>
</nav>

<div id="jumbo">
  <div id="jumbo-container">
  <h3>Mars Bags</h3>
  <h1>Don't let a little water hold<br> you back.</h1>
  <button id="shop-button" ui-sref="shop">Shop Collection</button>
  </div>
</div>

<div class="container">
  <div id="card" ng-repeat="product in products">
    <!-- <div>{{item.imageURL}}</div> -->
    <div>
      <h2>{{product.name}}</h2>
      <!-- <p>{{product.description}}</p> -->
      <div id="price">${{product.price}}</div>
      <div id="qty-label">Quantity:</div>
      <input value="1" min="1" max="999" step="1" type="number"></input>

      <br/>
      <button id="add-product">ADD TO CART</button>

    </div>
  </div>
</div>

<div class="container">

</div>
