<nav id="nav-two">
  <div>
    <a ui-sref="home">
      <img src="public/images/white-logo.png" id="logo"></img>
    </a>
  </div>
    <div id="links">
      <ul>
        <li><a ui-sref="shop">Shop</a></li>
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="news-events">News & Events</a></li>
        <li><a ui-sref="charity-water">Charity Water</a></li>
        <li><button id="contact-box" ui-sref="contact-us">Contact Us</button></li>
      </ul>
    </div>

    <ngcart-summary></ngcart-summary>

</nav>

<div class="image">
  <div class="image-overlay">More Information Coming Soon...</div>
</div>
