.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-container input {
  width: 70%;
}

.contact-container textarea {
  width: 70%;
  height: 200px;
  margin: 20px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.15);
}
