#jumbo{
  background-image: url("../images/Hiking1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 775px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#jumbo-container{
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#jumbo-container h3 {
color: #fff;
font-weight: lighter;
font-size: 40px;
}

#jumbo-container h1 {
color: #fff;
font-weight: lighter;
font-size: 80px;
}

#shop-button {
  width: 200px;
  border: 2px solid #fff;
  padding: 15px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}

#shop-button:hover {
  background: #fff;
  color: rgba(32, 26, 22, 0.9);
}

.container {
  background-color: #fff;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: space-around;

}

#card {
  padding: 20px;
}

#price {
  margin: 10px;
}

#qty-label {
  margin-left: 10px;
}

input {
  margin: 10px;
  width: 40px;
  padding: 5px;
  font-size: 100%;
}

#add-product {
  margin: 10px;
  padding: 12px 50px;
  background-color: rgb(17, 16, 15);
  color: #fff;
  border: none;
}

#add-product:hover {
opacity: 0.7;
}

#btn-container {
  width: 220px;
  height: 26px;
  border: none;
  position: fixed;
  right: 20px;
  top: 125px;
  background: black;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#cart-icon {
  background: transparent;
  width: 18px;
  height: 18px;
  border: none;
  background: url("../images/cart.png") no-repeat center center;
  background-size: cover;

}

#cart-count {
  background: transparent;
  width: 60px;
  border: none;
  left: 70px ;
  bottom: 60px;
  color: #fff;

}

#cart-total {
  background: transparent;
  color: #fff;
}
