body {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  /*font-family: helvetica neue;*/
  margin: 0px;
  width: 100%;
  background-color: #201A16;
  min-height: 100vh;
  position: relative;
}

.nav-one {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#nav-two {
  background-color: #201A16;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  width: 150px;
  height: 100px;
  color: #fff;
}
#links {
  align-items: center;
}
ul {
  list-style-type: none;
  padding-left: 0px;

}
ul li {
  display: inline;
}
li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: 10px;

}
a:hover {
  color: orange;
}

#contact-box {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}

#contact-box:hover {
  background: #fff;
  color: rgba(32, 26, 22, 0.9);
}

.scroll-navbar {
  background-color: #201A16;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
}

.summary {
  color: #fff;
}

.summary-totals a {
  color: inherit;
}
