.image {
  background: url("../images/coming-soon.JPG") no-repeat center center;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  width: 70%;
  height: 400px;
  background: rgba(32, 26, 22, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
