<nav id="nav-two">
    <div id="logo"><a ui-sref="home">Logo</a></div>
    <div id="links">
      <ul>
        <li><a ui-sref="shop">Shop</a></li>
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="news-events">News & Events</a></li>
        <li><a ui-sref="charity-water">Charity Water</a></li>
        <li><button id="contact-box" ui-sref="contact-us">Contact Us</button></li>
      </ul>
    </div>
</nav>

<div id="item-container">
<div>
  {{itemById.imageURL}}
</div>
<div>
  <h2>{{itemById.name}}</h2>
  <p>{{itemById.description}}</p>
  <div id="price">${{itemById.price}}</div>
  <div id="qty-label">Quantity:</div>
  <input value="1" min="1" max="999" step="1" type="number"></input>

  <br/>
  <button id="add-product">ADD TO CART</button>
</div>
</div>


<div class="container">
  <div id="card" ng-repeat="product in products">
    <div>
  {{item.imageURL}}
    </div>
    <div>
      <h2>
        <a ui-sref="product-description({id: product.itemid})">{{product.name}}</a>
      </h2>
      <div id="price">${{product.price}}</div>
      <div id="qty-label">Quantity:</div>
      <input value="1" min="1" max="999" step="1" type="number"></input>

      <br/>
      <button id="add-product">ADD TO CART</button>

    </div>
  </div>
</div>
